{{#each errors}}
    <div class="alert alert-danger" role="alert">{{text}}</div>
{{else}} 
{{/each}}
<div class="card card-body">
    <h3>Add Ideas</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
           <textarea name="details" id="details" class="form-control">{{details}}</textarea>
        </div>
     <button type="submit" class="btn btn-primary btn-block">Add Idea</button>
    </form>
</div>